name: "[flutter] Publish Nativebrik Bridge SDK"

on:
  push:
    tags:
      - 'flutter.v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      working-directory: flutter/nativebrik_bridge
