name: "[android] Test Nativebrik SDK"
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - "android/**"
      - .github/workflows/test-android.yaml
  pull_request:
    branches: [ main ]
    paths:
      - "android/**"
      - .github/workflows/test-android.yaml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup jdk
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: unit test
        working-directory: android
        run: ./gradlew testDebugUnitTest

      - name: enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: android test
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          working-directory: android
          api-level: 34
          target: google_apis
          arch: x86_64
          script: ./gradlew connectedCheck
